* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  min-height: 100vh;
}

main {
  max-width: 1200px;
  margin: 50px auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  padding: 5px 10px;
  font-size: 17px;
  cursor: pointer;
  background-color: #ee3434;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.buttons:first-child {
  margin-right: 15px;
}

.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.results img {
  max-width: 400px;
}

.results h3 {
  color: inherit;
}

.results a {
  text-decoration: none;
}
